   .wrapper {
   text-align: center;
   }
   .button {
   position: absolute;
   top: 50%;
   }
.header {
 overflow: hidden;

 padding: 20px 10px;
}
// table { width: 100%;height: 100%;border: 3px red double; }
tr , td {width:5%}
html,
body {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgb(243, 243, 243);
	color: rgba(0, 0, 0, 0.6);
	font-family: sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.header a {
 float: left;
 color: black;
 text-align: left;
 padding: 12px;
 text-decoration: none;
 font-size: 18px; 
 line-height: 25px;
 border-radius: 4px;
}
.green{
  color: green
}
.header a.logo {
 font-size: 25px;
 font-weight: bold;
}

.fonts{
  font-size:18px;
}

.header a.active {
 background-color: dodgerblue;
 color: white;
}

.header-right {
 float: right;
}
.dodgerblue{
 background-color: dodgerblue;
}
