


<style>
  
    .header {
    overflow: hidden;
    /* background-color: green; */
    padding: 3% 7%;
    height: 10%;
    }
    .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    }
    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    }
    .wrapper {
    text-align: center;
    }
    .button {
    position: absolute;
    top: 50%;
    }
  
   h2{
    width: 80%;
  height: 176px;
  font-family: ProximaNova-Light;
  font-size: 60.2px;
  font-weight: bold;
  /* font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; */
  color: #ffffff;
   }
  </style>
  <div class="header background">
    <div class="row">
       <div class="col-md-3" >
          <img  src="assets/img/mlogo1.png" alt="Maharashtra Shashan " />  
       </div>
       <div class="col-md-9">
          <h2 class="" style="text-align:center ; "><b>APPLICATION PROCESS</b></h2>
       </div>
    </div>
  </div>
 
  <div style="background-color: #f5f5f5">
    <div class="container" >
  <br><br><br>
        <div class="row">
            
            <div class="col-sm-2 col-md-2">
              <span (click)="ua1()" > <a  style="padding-left:0px; color:black">Personal Details </a></span> 
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span (click)="ua2()"><a style="color:black;padding-left:0px;" >Passport Details</a>
                </span>
            </div>	
  
            <div class="col-sm-2 col-md-2">
                <span (click)="ua3()"><a  style="color:black;padding-left:0px;" >Contact Details </a>
                </span>
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span (click)="ua4()"><a  style="color:black;padding-left:0px;" >  Guarantor Details</a>
                </span>
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span (click)="ua5()"><a  style="padding-left:0px;color:black"  >Current Designation</a></span>
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span (click)="ua6()"><a  style="padding-left:0px;color:black" >Upload Documents </a>
                </span>
            </div>
        </div>
  
      <div class="stepwizard">
    
         <div class="stepwizard-row setup-panel"></div>
  
            <div  class="stepwizard-step">
                <span style="margin-left:35px;" (click)="ua1()" class="round-tab">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
            </div>
  
            <div class="stepwizard-step">
                <span style="margin-left:35px;" (click)="ua2()"class="round-tab">  
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
  
            <div class="stepwizard-step">
                <span style="margin-left:35px;" (click)="ua3()"class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
  
            <div class="stepwizard-step">
                <span style="margin-left:35px;"(click)="ua4()" class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
            <div class="stepwizard-step">
                <span style="margin-left:35px;"(click)="ua5()" class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
                   
            <div class="stepwizard-step">
                <span style="margin-left:35px;"(click)="ua6()" class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
      </div>
  <br><br>
       <br>
       <h3 class="text-center"><b>Welcome to government of Maharashtra please create your account</b></h3>
       <form [formGroup]="contactForm"  >

     
       <div class="row">

          <div class="col-sm-7">
            <div class="form-group">
             <label for="exampleFormControlInput1"><b>User Type :</b></label>
             <input type=" text" class="form-control" id="exampleFormControlInput1" formControlName="applicant_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.  applicant_type.errors }" >
             <div *ngIf="submitted && f.applicant_type.errors" class="invalid-feedback">
                <div *ngIf="f.applicant_type.errors.required">Field required</div>
            </div>
          </div>
          </div>
          <div class="col-sm-7">
              <div class="form-group">
             <label for="exampleFormControlSelect1"><b>Name :</b></label>
             <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="full_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f. full_name.errors }" >
             <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                <div *ngIf="f.full_name.errors.required">Field required</div>
            </div>
          </div>
          </div>
      
       
          <div class="col-sm-7">
              <div class="form-group">
             <label for="exampleFormControlSelect2"><b>Sex :</b></label>
             <input type="text" class="form-control" id="exampleFormControlInput1"formControlName="sex" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }" >
             <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
                <div *ngIf="f.sex.errors.required">Field required</div>
            </div>
          </div>
          </div>
              <div class="col-sm-7">
                  <div class="form-group">
                  <label for="exampleFormControlTextarea1"><b>Nationality :</b></label>
                      <!-- <label for="city"><b>Nationality :</b></label>
                      <select name="city" id="city">
                          <option value="sydney">Sydney</option>
                          <option value="melbourne">Melbourne</option>
                          <option value="cromwell">Cromwell</option>
                      </select> -->
                  
                  <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nationality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" >
                  <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
                     <div *ngIf="f.nationality.errors.required">Field required</div>
                 </div>  
               </div>
              </div>
          <div class="col-sm-7">
              <div class="form-group">
             <label for="exampleFormControlSelect2"><b>Date of Birth :</b></label>
             <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="date_of_birth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }" >
             <div *ngIf="submitted && f.date_of_birth.errors" class="invalid-feedback">
                <div *ngIf="f.date_of_birth.errors.required">Field required</div>
            </div>  
          </div>
          </div>
          <div class="col-sm-7">
              <div class="form-group">
             <label for="exampleFormControlTextarea1"><b>Fathers Name:</b></label>
             <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="father_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.father_name.errors }" >
             <div *ngIf="submitted && f.father_name.errors" class="invalid-feedback">
                <div *ngIf="f.father_name.errors.required">Field required</div>
            </div>    
          </div>
          </div>
       
          <div class="col-sm-7">
              <div class="form-group">
             <label for="exampleFormControlSelect2"><b>Mothers Name :</b></label>
             <input type="text" class="form-control" id="exampleFormControlInput1"  formControlName="mother_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mother_name.errors }" >
             <div *ngIf="submitted && f.mother_name.errors" class="invalid-feedback">
                <div *ngIf="f.mother_name.errors.required">Field required</div>
            </div>    
          </div>
          </div>
          <div class="col-sm-4">
              <i ripple>
                <img src="assets/img/upload-logo.png" style="margin-top: -162%;
                  margin-left: 56%;
                  height: 89px;
                  width: 25%;" viewBox="0 0 24 24">
              </i>
              <h3 style="color:cornflowerblue ; margin-top: -70%;
              margin-left: 52%;font-size: 130.02%">Upload your document here</h3>
            </div>
       </div>
       <div class="wrapper">
        <button type="button" class="btn btn-primary" style="width:20%;" (click)="passportDetails()">Submit</button>
     </div>
      </form>
       <br/>
      
       <br/>
    </div>
  </div>
