<!-- <div class="animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12" style="background-color: white">
        <div class="card">
          <!-- <div class="card-header">
          
        </div> 
          <div class="background">

            <div class="card-body" >
              <img style="  margin-left:95px ;margin-top:80px ;margin-bottom: 30px " src="assets/img/mlogo1.png"
                alt="Maharashtra Shashan " />

              <h2 style="margin-left:30%; margin-top:80px;"> <b>APPLICATION FORM</b></h2>
           
            </div>

            
            <div class="container-fluid">
               <div class="container-fluid" style="background-color: #f5f5f5  ;  height: 1500px;  margin-top:0%;  margin-bottom: 18%;margin-left: 0%"> 
                <br><br>
                

                <div class="row">
          
                  <div class="col-sm-2 col-md-2">
                      <a href="./createAcc.html" style="padding-left:0px; color:#4dbab5">Personal Details </a>
                  </div>
      
                  <div class="col-sm-2 col-md-2">
                      <span><a style="color:black;padding-left:0px;" href="./page5.html">Passport Details</a>
                      </span>
                  </div>	
      
                  <div class="col-sm-2 col-md-2">
                      <span><a  style="color:black;padding-left:0px;" href="./organform.html">Contact Details </a>
                      </span>
                  </div>
      
                  <div class="col-sm-2 col-md-2">
                      <span><a  style="color:black;padding-left:0px;" href="./page7.html">  Guarantor Details</a>
                      </span>
                  </div>
      
                  <div class="col-sm-2 col-md-2">
                      <span><a  style="padding-left:0px;color:black" href="./page8.html">Current Designation</a></span>
                  </div>
      
                  <div class="col-sm-2 col-md-2">
                      <span><a  style="padding-left:0px;color:black" href="./processComp.html">Upload Documents </a>
                      </span>
                  </div>
              </div>
      
            <div class="stepwizard">
          
               <div class="stepwizard-row setup-panel"></div>
      
                  <div  class="stepwizard-step">
                      <span style="margin-left:35px;" class="round-tab">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                  </div>
      
                  <div class="stepwizard-step">
                      <span style="margin-left:35px;" class="round-tab">  
                        <i class="fa fa-unCheck" aria-hidden="true"></i>
                      </span>
                  </div>
      
                  <div class="stepwizard-step">
                      <span style="margin-left:35px;" class="round-tab">
                        <i class="fa fa-unCheck" aria-hidden="true"></i>
                      </span>
                  </div>
      
                  <div class="stepwizard-step">
                      <span style="margin-left:35px;" class="round-tab">
                        <i class="fa fa-unCheck" aria-hidden="true"></i>
                      </span>
                  </div>
                  <div class="stepwizard-step">
                      <span style="margin-left:35px;" class="round-tab">
                        <i class="fa fa-unCheck" aria-hidden="true"></i>
                      </span>
                  </div>
                         
                  <div class="stepwizard-step">
                      <span style="margin-left:35px;" class="round-tab">
                        <i class="fa fa-unCheck" aria-hidden="true"></i>
                      </span>
                  </div>
            </div>

                <br><br>
                <p class="document" style="text-align: center;
                margin-top: 2%;
                height: 446px;"><span
                    style="text-align:centre">
                    <h3>Welcome to government of Maharashtra please create your account </h3>
                  </span> </p>

            


                
                  <form #signUpForm="ngForm"
                 
                   style="position: relative;
                          width: 1428px;
                          margin: 50px 15px;
                          margin-left: 17%;
                          margin-top: -19%;">

                    <div class="card">



                    
                <div class="row">
                 <div class="row col-sm-12">
                      <div class=" form-group col-sm-7" >
                        <label for="name" class=" control-label">User Type </label>
                        <input type="text"  name="name"
                          class=" form-control" placeholder="User Type" required
                          >
                        <!-- <div *ngIf="signUpForm.submitted && !name.valid">
                          <label class="validation-message">This field is required.</label>
                        </div> 
                      </div>
                      <div class=" form-group col-sm-7" >
                          <label for="number"  class="control-label">Name </label>
                          <input type="number"   name="number"
                            class=" form-control" placeholder="Name" required
                           >
                          <!-- <div *ngIf="signUpForm.submitted && !number.valid">
                            <label class="validation-message">This field is required.</label>
                          </div> 
                        </div>



                      <div class=" form-group col-sm-7">
                          <label for="number" class=" control-label">Sex</label>
                          <input type="number" name="number"
                            class=" form-control" placeholder="Sex" required
                           >
                          <!-- <div *ngIf="signUpForm.submitted && !number.valid">
                            <label class="validation-message">This field is required.</label>
                          </div> 
                        </div>
                        <div class="form-group col-sm-7">
                            <label for="address" class=" control-label">Nationallity</label>
                            <input type="text" 
                              name="address" class=" form-control" placeholder="Nationality" required
                             >
                            <!-- <div *ngIf="signUpForm.submitted && !address.valid">
                              <label class="validation-message">This field is required.</label>
                            </div> 
                          </div>
                          <div class="form-group col-sm-7" >
                              <label for="address" class=" control-label">Date of Birth </label>
                              <input type="text"
                                name="address" class="col-sm-9 form-control" placeholder="Date" required
                               >
                              <!-- <div *ngIf="signUpForm.submitted && !address.valid">
                                <label class="validation-message">This field is required.</label>
                              </div> 
                            </div>


                    <div class="form-group col-sm-7">
                        <label for="address" class="control-label">Fathers Name</label>
                        <input type="text"
                          name="address" class="col-sm-9 form-control" placeholder="Fathers Name" required
                         >
                        <!-- <div *ngIf="signUpForm.submitted && !address.valid">
                          <label class="validation-message">This field is required.</label>
                        </div> 
                      
    
                      </div>
                    </div>
                      <div class=" form-group col-sm-7" >
                          <label for="email" class="control-label">Mothers Name</label>
                          <input type="text"   name="email"
                            class=" form-control" placeholder="Mothers Name" required 
                            >
                          <!-- <div *ngIf="signUpForm.submitted && email.errors">
                            <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                            <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                          </div> 
                        </div>
                    
                      </div>
                      

                        <i ripple>
            <img src="assets/img/upload-logo.png" style="margin-top: -95%;
    margin-left: 56%;
    height: 178px;"  viewBox="0 0 74 24" >
            </i> 
            <h3 style="color:cornflowerblue ; margin-top: -40%;
            margin-left: 52%;">Upload your document here</h3>

              
            
            </div>
             <!-- </div> -->
 


                    <!-- Success message -->
                    <!-- <div class="success" *ngIf="showSucessMessage">
                      Saved successfully
                    </div> -->

                    <!-- Error message -->
                    <!-- <div class="alert" *ngIf="serverErrorMessages">
                      {{serverErrorMessages}}
                    </div> 

              
                </form>
             


              <button id="submit"
                style="margin-right: 45%; margin-bottom: 50px ;padding-left: 2%;margin-top: 36%; padding:1%; padding-right:2%; box-shadow:dodgerblue "
                type="submit" class=" btn-submit ;" (click)="passportDetail()"ripple> <span>
                  <h5> SUBMIT </h5>
                </span> </button>

            </div>
          </div>
        
       
        </div>
      </div>
    </div>

  </div>
</div> -->


<style>
    /* * {box-sizing: border-box;}
    body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    } */
    .header {
    overflow: hidden;
    /* background-color: green; */
    padding: 8% 7%;
    height: 30%;
    }
    .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    }
    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    }
    .wrapper {
    text-align: center;
    }
    .button {
    position: absolute;
    top: 50%;
    }
  
   h2{
    width: 80%;
  height: 176px;
  font-family: ProximaNova-Light;
  font-size: 60.2px;
  font-weight: bold;
  /* font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; */
  color: #ffffff;
   }
  </style>
  <div class="header background">
    <div class="row">
       <div class="col-md-3" >
          <img  src="assets/img/mlogo1.png" alt="Maharashtra Shashan " />  
       </div>
       <div class="col-md-9">
          <h2 class=""><b>Application Process</b></h2>
       </div>
    </div>
  </div>
  <!-- <br><br><br><br> -->
  <div style="background-color: #f5f5f5">
    <div class="container" >
  
        <div class="row">
            
            <div class="col-sm-2 col-md-2">
                <a href="./createAcc.html" style="padding-left:0px; color:#4dbab5">Personal Details </a>
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span><a style="color:black;padding-left:0px;" href="./page5.html">Passport Details</a>
                </span>
            </div>	
  
            <div class="col-sm-2 col-md-2">
                <span><a  style="color:black;padding-left:0px;" href="./organform.html">Contact Details </a>
                </span>
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span><a  style="color:black;padding-left:0px;" href="./page7.html">  Guarantor Details</a>
                </span>
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span><a  style="padding-left:0px;color:black" href="./page8.html">Current Designation</a></span>
            </div>
  
            <div class="col-sm-2 col-md-2">
                <span><a  style="padding-left:0px;color:black" href="./processComp.html">Upload Documents </a>
                </span>
            </div>
        </div>
  
      <div class="stepwizard">
    
         <div class="stepwizard-row setup-panel"></div>
  
            <div  class="stepwizard-step">
                <span style="margin-left:35px;" class="round-tab">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
            </div>
  
            <div class="stepwizard-step">
                <span style="margin-left:35px;" class="round-tab">  
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
  
            <div class="stepwizard-step">
                <span style="margin-left:35px;" class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
  
            <div class="stepwizard-step">
                <span style="margin-left:35px;" class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
            <div class="stepwizard-step">
                <span style="margin-left:35px;" class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
                   
            <div class="stepwizard-step">
                <span style="margin-left:35px;" class="round-tab">
                  <i class="fa fa-unCheck" aria-hidden="true"></i>
                </span>
            </div>
      </div>
  <br><br>
       <br>
       <h3 class="text-center"><b>Welcome to government of Maharashtra please create your account</b></h3>
       <div class="row">
          <div class="col-sm-7">
             <label for="exampleFormControlInput1"><b>User Type :</b></label>
             <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
         
          <div class="col-sm-7">
             <label for="exampleFormControlSelect1"><b>Name :</b></label>
             <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
          
      
       
          <div class="col-sm-7">
             <label for="exampleFormControlSelect2"><b>Sex :</b></label>
             <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
  
       
  
       
            
       
  
         
              <div class="col-sm-7">
                  <!-- <label for="exampleFormControlTextarea1"><b>Nationality :</b></label> -->
                  
                      <label for="city"><b>Nationality :</b></label>
                      <select name="city" id="city">
                          <option value="sydney">Sydney</option>
                          <option value="melbourne">Melbourne</option>
                          <option value="cromwell">Cromwell</option>
                      </select>
                  
                  <input type="email" class="form-control" id="exampleFormControlInput1" >  
               </div>
       
          <div class="col-sm-7">
             <label for="exampleFormControlSelect2"><b>Date of Birth :</b></label>
             <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="col-sm-7">
             <label for="exampleFormControlTextarea1"><b>Fathers Name:</b></label>
             <input type="email" class="form-control" id="exampleFormControlInput1" >  
          </div>
       
       
          <div class="col-sm-7">
             <label for="exampleFormControlSelect2"><b>Mothers Name :</b></label>
             <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
  
          <div class="col-sm-4">
              <i ripple>
                <img src="assets/img/upload-logo.png" style="margin-top: -162%;
                  margin-left: 56%;
                  height: 89px;
                  width: 25%;" viewBox="0 0 24 24">
              </i>
              <h3 style="color:cornflowerblue ; margin-top: -70%;
              margin-left: 52%;font-size: 130.02%">Upload your document here</h3>
            </div>
       </div>
       <br/>
       <div class="wrapper">
          <button type="button" class="btn btn-primary" style="width:20%;" (click)="passportDetail()">Submit</button>
       </div>
       <br/>
    </div>
  </div>
