<style>

  /* * {box-sizing: border-box;}

  body { 

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  } */
  .header {
    overflow: hidden;
    /* background-color: green; */
    padding: 3% 7%;
    height: 10%;
    }

  .header a {

  float: left;

  color: black;

  text-align: center;

  padding: 12px;

  text-decoration: none;

  font-size: 18px; 

  line-height: 25px;

  border-radius: 4px;

  }

  .header a.logo {

  font-size: 25px;

  font-weight: bold;

  }

  .wrapper {

  text-align: center;

  }

  .button {

  position: absolute;

  top: 50%;

  }



 h2{

  width: 80%;

height: 176px;

font-family: ProximaNova-Light;

font-size: 60.2px;

font-weight: bold;

/* font-style: normal;

font-stretch: normal;

line-height: normal;

letter-spacing: normal; */

color: #ffffff;

 }

</style>

<div class="header background">

  <div class="row">

     <div class="col-md-3" >

        <img  src="assets/img/mlogo1.png" alt="Maharashtra Shashan " />  

     </div>

     <div class="col-md-9">

        <h2 class=""><b>APPLICATION PROCESS</b></h2>

     </div>

  </div>

</div>

<!-- <br><br><br><br> -->

<div style="background-color: #f5f5f5">

  <div class="container" >

    <br><br><br>

      <div class="row">

          

          <div class="col-sm-2 col-md-2">

              <a href="./createAcc.html" style="padding-left:0px; color:#4dbab5">Personal Details </a>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a style="color:#4dbab5;padding-left:0px;" href="./page5.html">Passport Details</a>

              </span>

          </div>	



          <div class="col-sm-2 col-md-2">

              <span><a  style="color:#4dbab5;padding-left:0px;" href="./organform.html">Contact Details </a>

              </span>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a  style="color:#4dbab5;padding-left:0px;" href="./page7.html">  Guarantor Details</a>

              </span>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a  style="padding-left:0px;color:#4dbab5" href="./page8.html">Current Designation</a></span>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a  style="padding-left:0px;color:black" href="./processComp.html">Upload Documents </a>

              </span>

          </div>

      </div>



    <div class="stepwizard">

  

       <div class="stepwizard-row setup-panel"></div>



          <div  class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>



          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">  

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>



          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>



          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>

          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>

                 

          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>

    </div>

<br><br>

     <br><hr> <br> <br>

     <h3 class="text-center"></h3>

     <div class="row">

       <div class="row-sm-12">

        <div class="col-sm-12">

           <label for="exampleFormControlInput1"><b>Certificate Number :</b></label>

           <input type="email" class="form-control" id="exampleFormControlInput1" >

        </div>

       

        <div class="col-sm-12">

           <label for="exampleFormControlSelect1"><b>Name of Examination :</b></label>

           <input type="email" class="form-control" id="exampleFormControlInput1" >

        </div>

       </div>



       <div class="row-sm-12">

        <div class="col-sm-12">

           <label for="exampleFormControlSelect2"><b>Year :</b></label>

           <input type="email" class="form-control" id="exampleFormControlInput1" >

        </div>



        <div class="col-sm-12">

            <label for="exampleFormControlSelect2"><b>Name of the University/Board/Council/Institute :</b></label>

            <input type="email" class="form-control" id="exampleFormControlInput1" >

         </div>

        </div>



        <div class="col-sm-4">

            <h3 style="color:cornflowerblue ; margin-top: 0%;

            margin-left: 12%; font-size: 110.02%">CERTIFICATE TO BE UPLOADED</h3>

            <i ripple>

              <img src="assets/img/upload-logo.png" style="margin-top: 2%;

                margin-left: 34%;    height: 69px;  width: 21%;

              " viewBox="0 0 24 24">

            </i>

            <h3 style="color:cornflowerblue ; margin-top: 5%;

            margin-left: 22%; font-size: 110.02%">Upload Document Here</h3>

          </div>

     </div>

     <br/>

     <br/>

     <br/>

   

<table class="table">

    <caption>List of documents</caption>

    <thead>

      <tr>

        <th scope="col">#</th>

        <th scope="col">Certificate Number </th>

        <th scope="col">Examination </th>

        <th scope="col">Name of the University </th>

        <th scope="col">Year </th>

        <th scope="col">View Document</th>

        

      </tr>

    </thead>

    <tbody>

      <tr>

        <th scope="row">1</th>

        <td>#123412</td>

        <td>B.A History</td>

        <td>JNU</td>

        <td> 30.05.2019</td>

        <td>view document</td>

        

        

      </tr>

      <tr>

        <th scope="row">2</th>

        <td>#123512</td>

        <td>B.A History</td>

        <td>JNU</td>

        <td> 30.05.2019</td>

        <td>view document</td>

        

        



      </tr>

      

    </tbody>

  </table>

  <br>

  <hr>

  <br>

  <h4><b style="margin-top:3%">UPLOAD ID PROOFS</b></h4>

  <table class="table">

      <caption>List of documents</caption>

      <thead>

        <tr>

          <th scope="col">#</th>

          <th scope="col">ID Proof Number </th>

          <th scope="col">ID Proof Name </th>

          <th scope="col">Upload Date </th>

          <th scope="col">Upload ID Proof </th>

          <th scope="col">View Document</th>

          

        </tr>

      </thead>

      <tbody>

        <tr>

          <th scope="row">1</th>

          <td>#123412</td>

          <td>Pan Card</td>

          <td> 30.05.2019</td>

          <td class="btn btn-link">Click here to Upload</td>

          <td >view document</td>

          

          

        </tr>

        <tr>

          <th scope="row">2</th>

          <td>#123512</td>

          <td>Aadhar Card</td>

          <td> 30.05.2019</td>

          <td>Aadhar Card.jpg</td>

          <td >view document</td>

          

          



        </tr>

        

      </tbody>

    </table>

    <br>

<hr>

<div class="row">

  <div class="col-sm-6" style="float:left">

   <br><br>

   <div class="form-group">  

     <!-- <div class="col-sm-2">   -->

       <input type="checkbox" id="rem" style="float:left"> &nbsp; &nbsp;&nbsp; &nbsp;

       <label for="rem" style="float:center">Applicant will visit himself for Attestation</label>

  </div>

 </div>



  <div class="col-sm-6" >

   <br><br>

   <div class="form-group">  

     <!-- <div class="col-sm-2">   -->

       <input type="checkbox" id="rem" style="float:left"> &nbsp; &nbsp;&nbsp; &nbsp;

       <label for="rem" style="float:center">Applicant will authorize representative to visit on applicant's behalf for attestation</label>

  </div>

 </div>

</div>





     <div class="wrapper">
      <button type="button" class="btn btn-primary" style="width:10%;" (click)="currentdesignation()">Back</button> &nbsp;  &nbsp;
        <button type="button" class="btn btn-primary" style="width:10%;" (click)="contactDetails()">Submit</button>

     </div>

     <br/>

  </div>

</div>



