<style>
    .wrapper {
     text-align: center;
     }
     .button {
     position: absolute;
     top: 50%;
     }
 .header {
   overflow: hidden;
   background-color: lightgray;
   padding: 20px 10px;
 }
 
 .header a {
   float: left;
   color: black;
   text-align: left;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
 }
 
 .header a.logo {
   font-size: 25px;
   font-weight: bold;
 }
 
 
 
 .header a.active {
   background-color: dodgerblue;
   color: white;
 }
 
 .header-right {
   float: right;
 }
 .dodgerblue{
   background-color: dodgerblue;
 }
 </style>
 
 <!-- Image and text -->
 <nav class="navbar navbar-expand-lg" style="background-color: dodgerblue">
     <a class="navbar-brand" href="#"><img src="assets/img/mlogo1.png" width="40" height="40"  alt="">
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
         </li>
         <li class="nav-item">
           <!-- <a class="nav-link" href="#">Link</a> -->
         </li>
         <!-- <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Dropdown
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li> -->
         <!-- <li class="nav-item">
           <a class="nav-link disabled" href="#">Disabled</a>
         </li> -->
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
         <img src="assets/img/plus.png" width="40" height="40" class="" alt="">&nbsp;<b style="color:white">Add Application</b>
         <img src="assets/img/single_user.png" width="40" height="40" class="" alt="">&nbsp;<b style="color:white">Suraj</b>
         <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
       </form>
     </div>
   </nav>
 <!-- <nav class="navbar navbar-light" style="background-color: dodgerblue">
     <a class="navbar-brand" href="#" style="background-color: gold">
       <img src="assets/img/mlogo1.png" width="40" height="40" class="d-inline-block align-top" alt="">
       logo
     </a>
   </nav> -->
   <!-- <div class="header dodgerblue">
       <a href="#default" class="logo"><img src="assets/img/mlogo1.png" width="40" height="40" class="" alt="logo"></a>
       <div class="header-right"style="margin-left:2%;"><img src="assets/img/plus.png" width="40" height="40" class="" alt="logo"></div>
       <div class="header-right">
      <span class="d-inline-block"><img src="assets/img/single_user.png" width="40" height="40" class="" alt="logo"></span>
       </div>
   </div> -->
   <div class="header">
       <a href="#default" class="logo">Home</a>
       <div class="header-right">
      <!-- something -->
       </div>
   </div>
   <div class="row-sm-12" style="background-color: #f5f5f5">
 
      
     <br/>

     <hr>
     <div style="background-color: #f5f5f5">
        <div class="container" >
      
            <div class="row">
                
                <div class="col-sm-2 col-md-2">
                    <a href="./createAcc.html" style="padding-left:0px; color:#4dbab5">Personal Details </a>
                </div>
      
                <div class="col-sm-2 col-md-2">
                    <span><a style="color:#4dbab5;padding-left:0px;" href="./page5.html">Passport Details</a>
                    </span>
                </div>	
      
                <div class="col-sm-2 col-md-2">
                    <span><a  style="color:#4dbab5;padding-left:0px;" href="./organform.html">Contact Details </a>
                    </span>
                </div>
      
                <div class="col-sm-2 col-md-2">
                    <span><a  style="color:#4dbab5;padding-left:0px;" href="./page7.html">  Guarantor Details</a>
                    </span>
                </div>
      
                <div class="col-sm-2 col-md-2">
                    <span><a  style="padding-left:0px;color:#4dbab5" href="./page8.html">Current Designation</a></span>
                </div>
      
                <div class="col-sm-2 col-md-2">
                    <span><a  style="padding-left:0px;color:black" href="./processComp.html">Upload Documents </a>
                    </span>
                </div>
            </div>
      
          <div class="stepwizard">
        
             <div class="stepwizard-row setup-panel"></div>
      
                <div  class="stepwizard-step">
                    <span style="margin-left:35px;" class="round-tab">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
      
                <div class="stepwizard-step">
                    <span style="margin-left:35px;" class="round-tab">  
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
      
                <div class="stepwizard-step">
                    <span style="margin-left:35px;" class="round-tab">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
      
                <div class="stepwizard-step">
                    <span style="margin-left:35px;" class="round-tab">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="stepwizard-step">
                    <span style="margin-left:35px;" class="round-tab">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
                       
                <div class="stepwizard-step">
                    <span style="margin-left:35px;" class="round-tab">
                      <i class="fa fa-unCheck" aria-hidden="true"></i>
                    </span>
                </div>
          </div>
      <br><br>
           <br>
           <h3 class="text-center"></h3>
           <div class="row">
             <div class="row-sm-12">
              <div class="col-sm-12">
                 <label for="exampleFormControlInput1"><b>Certificate Number :</b></label>
                 <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
             
              <div class="col-sm-12">
                 <label for="exampleFormControlSelect1"><b>Name of Examination :</b></label>
                 <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
             </div>
    
             <div class="row-sm-12">
              <div class="col-sm-12">
                 <label for="exampleFormControlSelect2"><b>Year :</b></label>
                 <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
      
              <div class="col-sm-12">
                  <label for="exampleFormControlSelect2"><b>Name of the University/Board/Council/Institute :</b></label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" >
               </div>
              </div>
    
              <div class="col-sm-4">
                  <h3 style="color:cornflowerblue ; margin-top: 0%;
                  margin-left: 12%; font-size: 110.02%">CERTIFICATE TO BE UPLOADED</h3>
                  <i ripple>
                    <img src="assets/img/upload-logo.png" style="margin-top: 2%;
                      margin-left: 34%;    height: 69px;  width: 21%;
                    " viewBox="0 0 24 24">
                  </i>
                  <h3 style="color:cornflowerblue ; margin-top: 5%;
                  margin-left: 22%; font-size: 110.02%">Upload Document Here</h3>
                </div>
           </div>
           <br/>
           <br/>
           <br/>
         
      <table class="table">
          <caption>List of documents</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Certificate Number </th>
              <th scope="col">Examination </th>
              <th scope="col">Name of the University </th>
              <th scope="col">Year </th>
              <th scope="col">View Document</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>#123412</td>
              <td>B.A History</td>
              <td>JNU</td>
              <td> 30.05.2019</td>
              <td>view document</td>
              
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>#123512</td>
              <td>B.A History</td>
              <td>JNU</td>
              <td> 30.05.2019</td>
              <td>view document</td>
              
              
    
            </tr>
            
          </tbody>
        </table>
        <br>
        <hr>
        <br>
        <h4><b style="margin-top:3%">UPLOAD ID PROOFS</b></h4>
        <table class="table">
            <caption>List of documents</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID Proof Number </th>
                <th scope="col">ID Proof Name </th>
                <th scope="col">Upload Date </th>
                <th scope="col">Upload ID Proof </th>
                <th scope="col">View Document</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>#123412</td>
                <td>Pan Card</td>
                <td> 30.05.2019</td>
                <td>Click here to Upload</td>
                <td>view document</td>
                
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>#123512</td>
                <td>Aadhar Card</td>
                <td> 30.05.2019</td>
                <td>Aadhar Card.jpg</td>
                <td>view document</td>
                
                
      
              </tr>
              
            </tbody>
          </table>
          <br>
    <hr>
    <div class="row">
        <div class="col-sm-6" style="float:left">
         <br><br>
         <div class="form-group">  
           <!-- <div class="col-sm-2">   -->
             <input type="checkbox" id="rem" style="float:left"> &nbsp; &nbsp;&nbsp; &nbsp;
             <label for="rem" style="float:center">Applicant will visit himself for Attestation</label>
        </div>
       </div>
    
        <div class="col-sm-6" >
         <br><br>
         <div class="form-group">  
           <!-- <div class="col-sm-2">   -->
             <input type="checkbox" id="rem" style="float:left"> &nbsp; &nbsp;&nbsp; &nbsp;
             <label for="rem" style="float:center">Applicant will authorize representative to visit on applicant's behalf for attestation</label>
        </div>
       </div>
    </div>
    
    
           <div class="wrapper">
              <button type="button" class="btn btn-primary" style="width:20%;" (click)="s2()">Submit</button>
           </div>
           <br/>
        </div>
      </div>
     
  
     
     </div>
