<div class="container-fluid">
    <div class="jumbotron backgroundImg" style="height:50%;width:100%;">
       <div class="row">
          <div class="col-sm-6">
             <div style="margin:4%" >
                <img src="assets/img/mlogo1.png" alt="Maharashtra Shashan" />
                <h2 style="word-wrap: break-word;"><b>Maharashtra Higher & Technical Education Department</b></h2>
             </div>
          </div>
          <div class="col-sm-6">
             <div class="login">
                <h3 style="margin:4%;">Welcome to MahaIT</h3>
                <form #signInForm="ngForm">
                   <div id="u" class="form-group">
                      <input id="username" spellcheck=false class="form-control" name="email_id" type="text"
                      [(ngModel)]="model.email_id" style="margin-left:0 ;margin-top:-10%" size="8" alt="login"
                      required="">
                      <span class="form-highlight"></span>
                      <span class="form-bar"></span>
                      <label for="username" class="float-label">Email</label>
                      <p class="erroru">
                         Username is required
                         <i>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                               <path d="M0 0h24v24h-24z" fill="none" />
                               <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                            </svg>
                         </i>
                      </p>
                   </div>
                   <div id="p" class="form-group">
                      <input id="password" class="form-control" spellcheck=false name="password" type="password"
                      [(ngModel)]="model.password" style="margin-left:0" size="8" alt="login" required="">
                      <span class="form-highlight"></span>
                      <span class="form-bar"></span>
                      <label for="password" class="float-label">Password</label>
                      <p class="errorp">
                         Password is required
                         <i>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                               <path d="M0 0h24v24h-24z" fill="none" />
                               <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                            </svg>
                         </i>
                      </p>
                   </div>
                   <div class="row">
                      <div class="form-group">
                         <div class="col-md-6"></div>
                         <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-link" (click)="forgotpass()">Forgot Password? </button>
                         </div>
                      </div>
                   </div>
                   <button id="submit" type="submit" class="btn btn-block btn-submit" style="margin-top:3%" ripple (click)="onSubmit()">SIGN IN</button>
                </form>
                <br>
                <div class="row">
                   
                   <div class="col-md-6">
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;New User? </p>
                   </div>
                   <div class="col-md-6">
                      <button type="button"  class="btn btn-block btn-link" (click)="registerhere()">Register Here</button>
                   </div>
                  
                </div>
                <!-- <div class="Rectangle-3"></div> -->
             </div>
             
          </div>
       </div>
       <div class="row justify-content-center" style="background-color:#ffffff;padding:3%;">
          <p class="document">
             <span>
          <h3>About GOM helps to<b>&nbsp;Maharashtra Higher & Technical Education Department</b></h3>
          </span>
          <br>
          The Higher & Technical Education Department attests the educational certificates of the students
          studying in any of the government recognized institute in Maharashtra. The certificates are attested
          for the purpose of validating the certificates for attaining higher education in a country outside
          India. Foreign nationals studying in the state of Maharashtra also can attest the educational
          certificates for validation of the same in other countries. Educational certificates from Xth class
          (SSC) onwards are attested by the Department.
          <br>
          </p>
       </div>
    </div>
