.background{
	width: 100%;
	height: 50%;
	background-image: url("assets/img/lawyer-today11.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
 }​
 .img-center{
 display: block;
 margin-left:2%;
 margin-right:2%;
 }
 // .background{
 //    background-image: url("assets/img/lawyer-today11.png");
 //    background-repeat: no-repeat;
 //    background-size: 100%;
 //    height: 30%;
 // }
 .center {
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  padding: 4%;
 }
  
 .header {
  overflow: hidden;
  width:100%;
  height: 100%;
  }
  .rc-anchor-normal {
	 height: 74px;
	 width: 80%;
  }
  .header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  }
  .header a.logo {
  font-size: 25px;
  font-weight: bold;
  }
  .wrapper {
  text-align: center;
  }
  .button {
  position: absolute;
  top: 50%;
  }
 h2 {
  width: 100%;
  font-size: 62px;
  color: #ffffff;
 }
 form {
	 position: relative;
	 width: 350px;
	 margin: 50px 15px;
 }
 
 .form-group {
	 position: relative;
	 margin-top: 35px;
	 margin-bottom: 20px;
 }
 
 .form-control {
	 display: block;
	 height: 36px;
	 width: 100%;
	 border: none;
	 border-radius: 0 !important;
	 font-size: 15px;
	 font-family: sans-serif;
	 font-weight: 300;
	 padding: 0;
	 background-color: transparent;
	 box-shadow: none;
	 border-bottom: 1px solid rgba(117, 117, 117, 0.15);
 }
 
 .form-control:focus {
	 border-bottom: 2px solid rgb(3, 169, 245);
	 outline: none;
	 box-shadow: none;
 }
 
 .form-highlight {
	 position: absolute;
	 height: 60%;
	 width: 60px;
	 top: 25%;
	 left: 0;
	 pointer-events: none;
	 opacity: 0.4;
 }
 
 .form-control:focus~.form-highlight {
	 -webkit-animation: inputHighlighter 0.3s ease;
	 -moz-animation: inputHighlighter 0.3s ease;
	 animation: inputHighlighter 0.3s ease;
 }
 
 .float-label {
	 position: absolute;
	 left: 0;
	 top: 10px;
	 font-size: 16px;
	 color: #999;
	 font-weight: 300;
	 transition: 0.2s ease all;
	 -moz-transition: 0.2s ease all;
	 -webkit-transition: 0.2s ease all;
 }
 
 .form-control:focus~.float-label,
 .form-control:valid~.float-label {
	 top: -15px;
	 font-size: 12px;
 }
 
 .form-group .erroru,
 .form-group .errorp {
	 position: absolute;
	 width: 100%;
	 left: 0;
	 top: 38px;
	 font-size: 11px;
	 color: #d34336;
	 font-weight: 300;
	 transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	 -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	 -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	 opacity: 0;
 }
 
 .form-group .erroru i,
 .form-group .errorp i {
	 position: absolute;
	 right: 0;
	 width: 15px;
	 height: 15px;
	 border-radius: 50%;
	 float: right;
 }
 
 .form-group .erroru i svg,
 .form-group .errorp i svg {
	 fill: #d34336;
 }
 
 .form-group[errr] .float-label {
	 color: #d34336 !important;
 }
 
 .form-group[errr] .form-control {
	 border-bottom: 1px solid #d34336 !important;
 }
 
 .form-group[errr] .form-control:focus {
	 border-bottom: 2px solid #d34336 !important;
 }
 
 .form-group[errr] .erroru,
 .form-group[errr] .errorp {
	 opacity: 1;
 }
 html, body 
 {
  position: absolute;
  height: 100%;
  width: 100%;
  background:white;
  color: rgba(0,0,0,0.6);
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 .cont {
	position: relative;
	padding: 10px;
	margin: 10px auto 20px auto;
	width: 390px;
	height: 30%;
	border-radius: 3%;
	background: white;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26);
	overflow: hidden;
	}
 .copyright {
  position: fixed;
  width: 100%;
  bottom: 5px;
  text-align: center;
  font-size: 12px;
 }
 
 .copyright a {
 text-decoration: none;
 color: rgb(3, 169, 245);
 }
 
 .copyright a:hover {
 transition: none;
 border-bottom: 1px solid rgb(3, 169, 245);
 }
 
 