<div class="animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <!-- <div class="card-header">
            
          </div> -->
          <div class="background">

            <div class="card-body">
              <img style="  margin-left:95px ;margin-top:80px ;margin-bottom: 30px " src="assets/img/mlogo1.png"
                alt="Maharashtra Shashan " />

              <h2 style="margin-left:95px; margin-top:80px;"> Higher & Technical Education Department <b>Government of
                  Maharashtra</b></h2>
              
            </div>

            <div class="login" style="margin-right:37%;margin-top:21% ;border-radius: 3%; ">
              
             
              <form action="" id="login-form">
                <div id="u" class="form-group">
                  <input id="new_password" spellcheck=false class="form-control" name="new_password" type="text"
                    style="margin-left:0" size="8" alt="login" required="">
                  <span class="form-highlight"></span>
                  <span class="form-bar"></span>
                  <label for="username" class="float-label">New Password </label>
                  <p class="erroru">
                    New Password is required
                    <i>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24h-24z" fill="none" />
                        <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                      </svg>
                    </i>
                  </p>
  
                </div>

                <div id="p" class="form-group">
                  <input id="confirmpass" spellcheck=false class="form-control" name="confirmpass" type="text"
                    style="margin-left:0" size="8" alt="login" required="">
                  <span class="form-highlight"></span>
                  <span class="form-bar"></span>
                  <label for="password" class="float-label">confirm Password</label>
                  <p class="errorp">
                    Confirm Password is required
                    <i>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24h-24z" fill="none" />
                        <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                      </svg>
                    </i>
                  </p>
                </div>

                <div class="form-group">

                  <button id="submit" type="submit" class="btn btn-block btn-submit"
                    style=" margin-top: 37%;padding:4% ;  " ripple> <span>
                      <h5>SUBMIT </h5>
                    </span> </button>
                  <br><br>

                </div>

              </form>
              <footer>
                <!-- <a href="#0"  class="btn btn-block btn-link"> register here</a>  -->

              </footer>
            </div>




          </div>
          <!--/.col-->


          <div class="bgcolor" style="background-color:#404040">

          <div class="container-fluid" style="white-space: 100% ; text-align:center; margin-left:0%; margin-top:5%">
            <div class="card-body" style="height: 540px">
              <div class="container" style="margin-left: 20%">
                <p class="document" style="text-align:center">

                  <span style="text-align:centre">
                    <h3>About GOM helps to<b> Higher & Technical Education Department</b></h3>
                  </span>
                  <br>
                  The Higher & Technical Education Department attests the educational certificates of the students
                  studying in any of the government recognized institute in Maharashtra. The certificates are attested
                  for the purpose of validating the certificates for attaining higher education in a country outside
                  India. Foreign nationals studying in the state of Maharashtra also can attest the educational
                  certificates for validation of the same in other countries. Educational certificates from Xth class
                  (SSC) onwards are attested by the Department.
                  <br>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book.

                </p>
              </div>
            </div>
          </div>

          </div>

          <div class="container-fluid" style="background-color: #f5f5f5 ">
            <p class="document" style="text-align:center ;margin-top:3%"><span style="text-align:centre">
                <h3>Try Your <b>CERTIFICATE ATTESTATION & VERIFICATION PROCESS </b></h3>
              </span> </p>

            <!-- <button id="submit"
              style="margin-right: 43%; margin-bottom: 50px ;padding-left: 2%; padding:1%; padding-right:2%; box-shadow:dodgerblue "
              type="submit" class=" btn-submit ;" ripple> <span>
                <h5> APPLY FOR APPLICATION </h5>
              </span> </button> -->
           
          </div>
         
            <div> 
                <div class="container-fluid" style=" margin-left: -45%" >
      
                  <div class="row" style="text-align:center; margin-left:25%; margin-top:5%; margin-bottom: 3%">
      
                  <div class=" col-md-9" >
                    <img style="margin-right: 5%; margin-left: 65%;" src="assets/img/mlogo1col.png" alt="Maharashtra Shashan " />
                  </div>
      
                    <div class=" col-md-1">
                          <p>MAHARASHTRA</p>
                          <p>About Us</p>
                          <p>Blog</p>
                          <p>Contact Us</p>
                        </div>
                        <div class=" col-md-1">
                            <p>SUPPORT</p>
                            <p>Help Center</p>
                            <p>FAQ’s</p>
                          </div>
                          <div class=" col-md-1">
                              <p>LEGAL</p>
                              <p>Privacy Policy</p>
                              <p>Terms of Service</p>
                            </div>
                  </div>
                </div>
                <div class="card-footer" style="margin-top:5%; margin-bottom: 3%">
                  <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and
                    Content Policies. © 2019</p>
                </div>
              
              
              </div>
        </div>
      </div>
    </div>

  </div>
</div>