<style>
    .wrapper {
     text-align: center;
     }
     .button {
     position: absolute;
     top: 50%;
     }
 .header {
   overflow: hidden;
   background-color: lightgray;
   padding: 20px 10px;
 }
 
 .header a {
   float: left;
   color: black;
   text-align: left;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
 }
 
 .header a.logo {
   font-size: 25px;
   font-weight: bold;
 }
 
 
 
 .header a.active {
   background-color: dodgerblue;
   color: white;
 }
 
 .header-right {
   float: right;
 }
 .dodgerblue{
   background-color: dodgerblue;
 }
 </style>
 
 <!-- Image and text -->
 <nav class="navbar navbar-expand-lg" style="background-color: dodgerblue">
     <a class="navbar-brand" href="#"><img src="assets/img/mlogo1.png" width="40" height="40"  alt="">
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" formControlName="guarantor_name" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
         </li>
         <li class="nav-item">
           <!-- <a class="nav-link" href="#">Link</a> -->
         </li>
         <!-- <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" formControlName="guarantor_name" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Dropdown
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li> -->
         <!-- <li class="nav-item">
           <a class="nav-link disabled" href="#">Disabled</a>
         </li> -->
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
         <img src="assets/img/plus.png" width="40" height="40" class="" alt="">&nbsp;<b style="color:white">Add Application</b>
         <img src="assets/img/single_user.png" width="40" height="40" class="" alt="">&nbsp;<b style="color:white">Suraj</b>
         <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
       </form>
     </div>
   </nav>
 <!-- <nav class="navbar navbar-light" style="background-color: dodgerblue">
     <a class="navbar-brand" href="#" style="background-color: gold">
       <img src="assets/img/mlogo1.png" width="40" height="40" class="d-inline-block align-top" alt="">
       logo
     </a>
   </nav> -->
   <!-- <div class="header dodgerblue">
       <a href="#default" class="logo"><img src="assets/img/mlogo1.png" width="40" height="40" class="" alt="logo"></a>
       <div class="header-right"style="margin-left:2%;"><img src="assets/img/plus.png" width="40" height="40" class="" alt="logo"></div>
       <div class="header-right">
      <span class="d-inline-block"><img src="assets/img/single_user.png" width="40" height="40" class="" alt="logo"></span>
       </div>
   </div> -->
   <div class="header">
       <a href="#default" class="logo">Home</a>
       <div class="header-right">
      <!-- something -->
       </div>
   </div>
   <div style="background-color: #f5f5f5">
      <div class="container" >
    
          <div class="row">
              
              <div class="col-sm-2 col-md-2">
                  <a href="./createAcc.html" style="padding-left:0px; color:#4dbab5">Personal Details </a>
              </div>
    
              <div class="col-sm-2 col-md-2">
                  <span><a style="color:#4dbab5;padding-left:0px;" href="./page5.html">Passport Details</a>
                  </span>
              </div>	
    
              <div class="col-sm-2 col-md-2">
                  <span><a  style="color:#4dbab5;padding-left:0px;" href="./organform.html">Contact Details </a>
                  </span>
              </div>
    
              <div class="col-sm-2 col-md-2">
                  <span><a  style="color:black;padding-left:0px;" href="./page7.html">  Guarantor Details</a>
                  </span>
              </div>
    
              <div class="col-sm-2 col-md-2">
                  <span><a  style="padding-left:0px;color:black" href="./page8.html">Current Designation</a></span>
              </div>
    
              <div class="col-sm-2 col-md-2">
                  <span><a  style="padding-left:0px;color:black" href="./processComp.html">Upload Documents </a>
                  </span>
              </div>
          </div>
    
        <div class="stepwizard">
      
           <div class="stepwizard-row setup-panel"></div>
    
              <div  class="stepwizard-step">
                  <span style="margin-left:35px;" class="round-tab">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
              </div>
    
              <div class="stepwizard-step">
                  <span style="margin-left:35px;" class="round-tab">  
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
              </div>
    
              <div class="stepwizard-step">
                  <span style="margin-left:35px;" class="round-tab">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
              </div>
    
              <div class="stepwizard-step">
                  <span style="margin-left:35px;" class="round-tab">
                    <i class="fa fa-unCheck" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="stepwizard-step">
                  <span style="margin-left:35px;" class="round-tab">
                    <i class="fa fa-unCheck" aria-hidden="true"></i>
                  </span>
              </div>
                     
              <div class="stepwizard-step">
                  <span style="margin-left:35px;" class="round-tab">
                    <i class="fa fa-unCheck" aria-hidden="true"></i>
                  </span>
              </div>
        </div>
    <br><br>
         <br>
         <h3 class="text-center" style="font-size: 150.02%">Should remain valid for single applicant validity -6 months. Can not apply as guarantor for other applicant.<br> keep only one guarantor.Applicant as Foreign National. </h3>
      <br><br>
      <form [formGroup]="gurantorForm" novalidate>
         <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
               <label ><b>Name :</b></label>
               <input type="text" formControlName="guarantor_name"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.guarantor_name.errors }" >
               <div *ngIf="submitted && f.guarantor_name.errors" class="invalid-feedback">
                  <div *ngIf="f.guarantor_name.errors.required">Name is required</div>
              </div>
                </div>
            </div>
           
            <div class="col-sm-6">
                <div class="form-group">
               <label ><b>Country :</b></label>
               <input type="text" formControlName="guarantor_country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.guarantor_country.errors }" >
               <div *ngIf="submitted && f.guarantor_country.errors" class="invalid-feedback">
                  <div *ngIf="f.guarantor_country.errors.required">guarantor country required</div>
              </div>
              </div>

            </div>
         
            <div class="col-sm-6">
                <div class="form-group">
               <label ><b>State :</b></label>
               <input type="text" formControlName="guarantor_state" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.guarantor_state.errors }" >
               <div *ngIf="submitted && f.guarantor_state.errors" class="invalid-feedback">
                  <div *ngIf="f.guarantor_state.errors.required">guarantor state required</div>
              </div>
                </div>
            </div>
  
  
            <div class="col-sm-6">
                <div class="form-group">
                <label ><b>City :</b></label>
                <input type="text" formControlName="guarantor_city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.guarantor_city.errors }" >
                <div *ngIf="submitted && f.guarantor_city.errors" class="invalid-feedback">
                    <div *ngIf="f.guarantor_city.errors.required">Quarantor City required</div>
                </div>
                </div>
             </div>
          
             <div class="col-sm-6">
                <div class="form-group">
                <label><b>House Number :</b></label>
                <input type="text" formControlName="guarantor_house_no" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.guarantor_house_no.errors }" >
                <div *ngIf="submitted && f.guarantor_house_no.errors" class="invalid-feedback">
                    <div *ngIf="f.guarantor_house_no.errors.required">guarantor house no required</div>
                </div>
                </div>
             </div>
  
  
            <div class="col-sm-6">
                <div class="form-group">
                <label><b>Street Number :</b></label>
                <input type="text" formControlName="guarantor_street_no" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.guarantor_street_no.errors }" >
                <div *ngIf="submitted && f.guarantor_street_no.errors" class="invalid-feedback">
                    <div *ngIf="f.guarantor_street_no.errors.required">guarantor street no required</div>
                </div>
                </div>
             </div>
          
             <div class="col-sm-6">
                <div class="form-group">
                <label ><b>Mobile Number :</b></label>
                <input type="text" formControlName="guarantor_contact" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.guarantor_contact.errors }" >
                <div *ngIf="submitted && f.guarantor_contact.errors" class="invalid-feedback">
                    <div *ngIf="f.guarantor_contact.errors.required">guarantor contact required</div>
                </div>
                </div>
             </div>
    
      
             <div class="col-sm-6">
                <div class="form-group">
                <label ><b>Pincode :</b></label>
                <input type="text" formControlName="guarantor_pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.guarantor_pincode.errors }" >
                <div *ngIf="submitted && f.guarantor_pincode.errors" class="invalid-feedback">
                    <div *ngIf="f.guarantor_pincode.errors.required">guarantor Pincode required</div>
                </div>
                </div>
             </div>
    
           
         </div>
         <br/>
         <div class="wrapper">
            <button type="button" class="btn btn-primary" style="width:20%;" (click)="s5()">Back</button>&nbsp; &nbsp;
            <button type="button" class="btn btn-primary" style="width:20%;" (click)="onSubmit()">Next</button>
         </div>
         </form>
      </div>
    </div>
