<style>

  /* * {box-sizing: border-box;}

  body { 

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  } */

  .header {
    overflow: hidden;
    /* background-color: green; */
    padding: 3% 7%;
    height: 10%;
    }

  .header a {

  float: left;

  color: black;

  text-align: center;

  padding: 12px;

  text-decoration: none;

  font-size: 18px; 

  line-height: 25px;

  border-radius: 4px;

  }

  .header a.logo {

  font-size: 25px;

  font-weight: bold;

  }

  .wrapper {

  text-align: center;

  }

  .button {

  position: absolute;

  top: 50%;

  }



 h2{

  width: 80%;

height: 176px;

font-family: ProximaNova-Light;

font-size: 60.2px;

font-weight: bold;

/* font-style: normal;

font-stretch: normal;

line-height: normal;

letter-spacing: normal; */

color: #ffffff;

 }

</style>

<div class="header background">

  <div class="row">

     <div class="col-md-3" >

        <img  src="assets/img/mlogo1.png" alt="Maharashtra Shashan " />  

     </div>

     <div class="col-md-9">

        <h2 class=""><b>APPLICATION PROCESS</b></h2>

     </div>

  </div>

</div>

<!-- <br><br><br><br> -->

<div style="background-color: #f5f5f5">

  <div class="container" >
    <br><br><br>


      <div class="row">

          

          <div class="col-sm-2 col-md-2">

              <a href="./createAcc.html" style="padding-left:0px; color:#4dbab5">Personal Details </a>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a style="color:#4dbab5;padding-left:0px;" href="./page5.html">Passport Details</a>

              </span>

          </div>	



          <div class="col-sm-2 col-md-2">

              <span><a  style="color:#4dbab5;padding-left:0px;" href="./organform.html">Contact Details </a>

              </span>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a  style="color:black;padding-left:0px;" href="./page7.html">  Guarantor Details</a>

              </span>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a  style="padding-left:0px;color:black" href="./page8.html">Current Designation</a></span>

          </div>



          <div class="col-sm-2 col-md-2">

              <span><a  style="padding-left:0px;color:black" href="./processComp.html">Upload Documents </a>

              </span>

          </div>

      </div>



    <div class="stepwizard">

  

       <div class="stepwizard-row setup-panel"></div>



          <div  class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>



          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">  

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>



          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>



          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-check" aria-hidden="true"></i>

              </span>

          </div>

          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-unCheck" aria-hidden="true"></i>

              </span>

          </div>

                 

          <div class="stepwizard-step">

              <span style="margin-left:35px;" class="round-tab">

                <i class="fa fa-unCheck" aria-hidden="true"></i>

              </span>

          </div>

    </div>

<br><br>

     <br> <hr> <br>

     <h3 class="text-center" style="font-size: 140.02%">Should remain valid for single applicant validity -6 months. Can not apply as guarantor for other applicant.<br> keep only one guarantor.Applicant as Foreign National. </h3>

  <br><br>

     <div class="row">

        <div class="col-sm-6">

           <label for="exampleFormControlInput1"><b>Name :</b></label>

           <input type="email" class="form-control" id="exampleFormControlInput1" >

        </div>

       

        <div class="col-sm-6">

           <label for="exampleFormControlSelect1"><b>Country :</b></label>

           <input type="email" class="form-control" id="exampleFormControlInput1" >

        </div>

     

        <div class="col-sm-6">

           <label for="exampleFormControlSelect2"><b>State :</b></label>

           <input type="email" class="form-control" id="exampleFormControlInput1" >

        </div>





        <div class="col-sm-6">

            <label for="exampleFormControlSelect1"><b>City :</b></label>

            <input type="email" class="form-control" id="exampleFormControlInput1" >

         </div>

      

         <div class="col-sm-6">

            <label for="exampleFormControlSelect2"><b>House Number :</b></label>

            <input type="email" class="form-control" id="exampleFormControlInput1" >

         </div>





        <div class="col-sm-6">

            <label for="exampleFormControlSelect1"><b>Street Number :</b></label>

            <input type="email" class="form-control" id="exampleFormControlInput1" >

         </div>

      

         <div class="col-sm-6">

            <label for="exampleFormControlSelect2"><b>Mobile Number :</b></label>

            <input type="email" class="form-control" id="exampleFormControlInput1" >

         </div>



  

         <div class="col-sm-6">

            <label for="exampleFormControlSelect2"><b>Pincode :</b></label>

            <input type="email" class="form-control" id="exampleFormControlInput1" >

         </div>



       

     </div>

     <br/>

     <div class="wrapper">
  
      <button type="button" class="btn btn-primary" style="width:10%;" (click)="contactdetail()">Back</button> &nbsp;  &nbsp;
        <button type="button" class="btn btn-primary" style="width:10%;" (click)="currentDesignation()">Next</button>

     </div>

     <br/>

  </div>

</div>


