
.background{
     background-image: url("assets/img/lawyer-today11.png");
     background-repeat: no-repeat;
     background-size: 100%;
     height: 30%;
}
   
.header {
	overflow: hidden;
	width:100%;

	height: 50%;
	}
	.rc-anchor-normal {
		height: 74px;
		width: 80%;
	}
	.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
	}
	.header a.logo {
	font-size: 25px;
	font-weight: bold;
	}
	.wrapper {
	text-align: center;
	}
	.button {
	position: absolute;
	top: 50%;
	}
h2 {
	width: 100%;
	font-size: 62px;
	color: #ffffff;
}

html, body 
{
	position: absolute;
	height: 100%;
	width: 100%;
	background:white;
	color: rgba(0,0,0,0.6);
	font-family: sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.copyright {
	position: fixed;
	width: 100%;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
}

.copyright a {
  text-decoration: none;
  color: rgb(3, 169, 245);
}

.copyright a:hover {
  transition: none;
  border-bottom: 1px solid rgb(3, 169, 245);
}

