
.background{
     background-image: url("assets/img/lawyer-today11.png");
     background-repeat: no-repeat;
     background-size: 100%;
     height: 30%;
}
html, body 
{
	position: absolute;
	height: 100%;
	width: 100%;
	background:white;
	color: rgba(0,0,0,0.6);
	font-family: RobotoDraft,Roboto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.copyright {
	position: fixed;
	width: 100%;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
}

.copyright a {
  text-decoration: none;
  color: rgb(3, 169, 245);
}

.copyright a:hover {
  transition: none;
  border-bottom: 1px solid rgb(3, 169, 245);
}

