
 <div class="container" >
    <div class="header background">
       <div class="row">
          <div class="col-md-3" >
             <img  src="assets/img/mlogo1.png" alt="Maharashtra Shashan"/>  
          </div>
          <div class="col-md-9">
             <h2 style="float:left;margin:2%;"><b>Register your Account</b></h2>
          </div>
       </div>
    </div>
    <form [formGroup]="otpform">
    <div class="row radius">
       <div class="cont">
          <h3  style="text-align: center">OTP Verification</h3>
        
          <form [formGroup]="forgotForm">
             <div class="form-group">
                <input type="text" formControlName="email_otp" class="form-control"
                   style="margin-left:0" size="8" >
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
                <label for="username" class="float-label">Enter OTP</label>
                <p class="erroru">
                   OTP is required
                   <i>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                         <path d="M0 0h24v24h-24z" fill="none" />
                         <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                      </svg>
                   </i>
                </p>
               </div>
                
           
              
                   <button type="submit" class="btn btn-block btn-submit"(click)="otppass()"ripple>
                      <span>
                         <h5>SUBMIT</h5>
                      </span>
                   </button>
              
                <br/>
            
             <div class="row">
                   
                  <div class="col-md-6">
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;Already Registered ? </p>
                  </div>
                  <div class="col-md-6">
                     <button type="button"  class="btn btn-block btn-link" (click)="db()">Login Here</button>
                  </div>
                 
               </div>
          </form>
       </div>
    
    </div>
   </form>
 </div>


 