
      <div class="container background" style="background-color: darkgreen">
            <div class="header">
                  <!-- <a><img  src="assets/img/mlogo1.png" alt="Maharashtra Shashan " /></a>   -->
                  <div class="row" style="padding:2%;">
                     <div class="col-md-3">
                        <img  src="assets/img/mlogo1.png" alt="Maharashtra Shashan " />  
                     </div>
                     <div class="col-md-9">
                        <h2 ><b>Reset Your Password</b></h2>
                     </div>
                  </div>
               </div>
         </div>
        
         <div class="container bg-light d-flex flex-fill flex-column">
             
                 <!-- Main body of page -->
                 <div class="col-sm-12" style="height:100%">
         
                     <!-- Main part of the page. Content should have full height and scroll vertically if necessary -->
                     <div class="row centered-form center-block radius">
                           <div class="cont" >
                              <h3  style="text-align: center">OTP Verification</h3>
                              <form [formGroup]="forgotForm">
                                 <div class="form-group">
                                    <input  type="text"formControlName="email_otp"class="form-control"
                                       style="margin-left:0" size="8" alt="login" required="">
                                    <span class="form-highlight"></span>
                                    <span class="form-bar"></span>
                                    <label for="username" class="float-label">Enter OTP</label>
                                    <p class="erroru">
                                       OTP is required
                                       <i>
                                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                             <path d="M0 0h24v24h-24z" fill="none" />
                                             <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                                          </svg>
                                       </i>
                                    </p>
                                    <div class="form-group">
                                          <button type="submit" class="btn btn-primary"  (click)="otppass()">Submit</button>

                                       <!-- <button id="submit" type="submit" class="btn btn-block btn-submit" (click)="resetpass()"  ripple>
                                          <span>
                                             <h5>SUBMIT</h5>
                                          </span>
                                       </button> -->
                                    </div>
                                    <br/>
                                 </div>
                              </form>
                              
                              </div>
                           </div>
                    
         <!-- end -->
                 </div>
                 <!-- Comment section (scrolling) -->
                 <div class="d-none d-md-block col-md-3 comment-section">
                     <!-- Comment section at the left hand side of the page -->
                    
                 </div>
         
         </div>
     
   